*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 18px;
}

h1,h2,h3,h4{
    font-weight: 700;
}

p{
    color: hsl(257, 7%, 63%);
}

.nav-section {
    list-style: none;
}

.nav-right{
    list-style:none;
}

.new-link{
    padding:12px;
    text-decoration: none;
    color:hsl(257, 7%, 63%);
}

.nav-link{
    color: hsl(257, 7%, 63%);
}

.hero-title{
    font-size: 3.2rem;
}

#logo{
    width:100px;
}

#working-img{
    width:50%;
}

form{
    background: hsl(257, 27%, 26%);
    background-image: url(./images/bg-shorten-desktop.svg);
    padding:20px 25px;
    margin:20px 0;
    border-radius:8px;
   
}

#p-form{
    top:-82px;
    left:50%;
    transform:translateX(-50%);
}

.purple-form{
    padding:12px 0;
    display:flex;
    justify-content: center;
}

form .btn{
    color:#fff;
    margin:0 18px;
    width: 12%;
    border-radius: 8px;
}

form input{
    width:75%;
    padding:10px 15px;
    border-radius:8px;
}

.new-section{
    background-color: hsl(0, 0%, 88%);
    min-height: 500px;
    padding: 40px 0;
    margin-top:100px;
}

.new-short-link{
    display: none;
}

.short-link{
    background-color: #fff;
    margin:32px 0;
    padding:10px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-link .btn{
    margin:0 12px;
}

.blue-line{
    background-color: hsl(180, 66%, 49%);
    width: 90%;
    height:8px;
    position:absolute;
    z-index:1;
    top:50%;
    left:16px;
}

.next-line{
    background-color: hsl(180, 66%, 49%);
    width: 8px;
    height:78%;
    position:absolute;
    z-index: 1;
    left:49%;
    top:27%;

}

.card-section{
    margin:25px 0;
    padding:20px 0;
}

.card{
    padding:36px;
    padding-top:80px;
    margin:0 15px;
    z-index:100;
}

.txt-box{
    padding:30px 0;
}


.logo-icon img{
    width:48px;
}

.logo-icon{
    display: flex;
    background: hsl(257, 27%, 26%);
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 3;
    left: 36px;
    top: -30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}



@media(max-width:500px){
    #working-img{
        width:500px;
    }

    .btn{
        width:30%;
    }

    .card{
        margin:0;
        margin-top:20px;
        margin:25px 30px;
    }

    .txt-box{
        text-align: center;
    }

    /* .card-section{
        position: absolute;
    } */

    .logo-icon{
        width:100px;
        left:36%;
    }
    
    #p-form{
        width:80%;
        top: -103px;
    }

    form input{
        width:100%;
    }

    form .btn{
        margin:0;
        margin-top:15px;
        width:100%;
    }
    
    .grey-area{
        padding-top:4rem;
    }

    .short-link{
        display:flex;
        flex-direction: column;
        margin: 20px 30px;
        padding: 25px 0;
    }

    .btn-link .btn{
        margin: 0 auto;
        width:100%;
    }
}
